# === 核心构建文件 (必须忽略) ===
.gradle/
build/
out/

.idea/
*.iml
*.ipr
*.iws
*.class

.classpath
.project
.settings/
bin/

.vscode/

run/
run*/
logs/
crash-reports/
debug/
usercache.json
usernamecache.json

.DS_Store
Thumbs.db
Desktop.ini

*.log
test/
/src/main/resources/data/generated/
.cache/
replay_recordings/
.gradle-user/
.tools/
.capsrc/
